<a href="https://colab.research.google.com/github/Bageshri123/Data-Science---Python/blob/main/Copy_of_Normalising_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Normalisation challenges

### Challenge 1 - prepare dataset for normalisation 
---
1. Read Covid vaccination data from the `by_country` sheet in the Excel file at this link : https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true
2. Use .info() to find out which columns have missing values
3. Remove all rows with missing data in the total_vaccination column
4. Find the median vaccinations per hundred 
5. display the mean people vaccinated per hundred for each country in descending order
6. find the range of total_vaccinations across the dataframe 


**Test output**:  
1. dataframe is saved in a variable
2. 
```
RangeIndex: 14994 entries, 0 to 14993
Data columns (total 15 columns):
    Column                               Non-Null Count  Dtype         
                                
 0   country                              14994 non-null  object        
 1   iso_code                             14994 non-null  object        
 2   date                                 14994 non-null  datetime64[ns]
 3   total_vaccinations                   9011 non-null   float64       
 4   people_vaccinated                    8370 non-null   float64       
 5   people_fully_vaccinated              6158 non-null   float64       
 6   daily_vaccinations_raw               7575 non-null   float64       
 7   daily_vaccinations                   14796 non-null  float64       
 8   total_vaccinations_per_hundred       9011 non-null   float64       
 9   people_vaccinated_per_hundred        8370 non-null   float64       
 10  people_fully_vaccinated_per_hundred  6158 non-null   float64       
 11  daily_vaccinations_per_million       14796 non-null  float64       
 12  vaccines                             14994 non-null  object        
 13  source_name                          14994 non-null  object        
 14  source_website                       14994 non-null  object        
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 1.7+ MB
```
3. 9011 rows Ã— 15 columns
4. 7.78
5. 
```
country
Gibraltar       72.172462
Maldives        51.276087
Israel          48.931008
Seychelles      48.233333
Aruba           42.155000
                  ...    
Guinea           0.677000
Sierra Leone     0.530000
Namibia          0.317143
South Africa     0.261667
Albania          0.080000
Name: people_vaccinated_per_hundred, Length: 104, dtype: float64
```
6. 275338000.0

In [12]:
# 1 Read the data
import pandas as pd
url="https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true"
covid=pd.read_excel(url,sheet_name="by_country")
covid.head()

       country  ...                                     source_website
0  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
1  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
2  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
3  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
4  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...

[5 rows x 15 columns]

In [13]:
#2 Use .info() to find out which columns have missing values
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14994 entries, 0 to 14993
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              14994 non-null  object
 1   iso_code                             14994 non-null  object
 2   date                                 14994 non-null  datetime64[ns]
 3   total_vaccinations                   9011 non-null   float64
 4   people_vaccinated                    8370 non-null   float64
 5   people_fully_vaccinated              6158 non-null   float64
 6   daily_vaccinations_raw               7575 non-null   float64
 7   daily_vaccinations                   14796 non-null  float64
 8   total_vaccinations_per_hundred       9011 non-null   float64
 9   people_vaccinated_per_hundred        8370 non-null   float64
 10  people_fully_vaccinated_per_hundred  6158 non-null   float64
 11  daily_vaccinations_per_million       14796 non-null  float64
 12  vaccines                             14994 non-null  object
 13  source_name                          14994 non-null  object
 14  source_website                       14994 non-null  object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 1.7+ MB

In [14]:
#3 Remove all rows with missing data in the total_vaccination column
covid.dropna(subset=["total_vaccinations"])

           country  ...                                     source_website
0      Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
6      Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
22     Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
44     Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
59     Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
...            ...  ...                                                ...
14989     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14990     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14991     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14992     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...
14993     Zimbabwe  ...  https://twitter.com/MoHCCZim/status/1388935941...

[9011 rows x 15 columns]

In [15]:
#4 Find the median vaccinations per hundred
covid['total_vaccinations_per_hundred'].median()

6.3

In [16]:
#5 display the mean people vaccinated per hundred for each country in descending order
new_df=covid.dropna(subset=['people_vaccinated_per_hundred'])
sorted=new_df[['people_vaccinated_per_hundred','country']].groupby(['country']).mean().sort_values(['people_vaccinated_per_hundred'],ascending = False)
sorted

                              people_vaccinated_per_hundred
country
Gibraltar                                         64.975699
Bhutan                                            55.961892
Falkland Islands                                  51.063333
Saint Helena                                      44.880000
Seychelles                                        44.005686
...                                                     ...
Syria                                              0.005000
South Sudan                                        0.005000
Niger                                              0.005000
Cameroon                                           0.000000
Democratic Republic of Congo                       0.000000

[189 rows x 1 columns]

In [17]:
#6 find the range of total_vaccinations across the dataframe
covid1=covid.dropna(subset=["total_vaccinations"])
range=covid1['total_vaccinations'].max()-covid1['total_vaccinations'].min()
range

275338000.0

### Challenge 2 - normalise daily vaccinations 
---

1. Find the median daily vaccinations per million 
2. Write a function to normalise daily vaccinations per million, where values greater than or equal to median = 1 and values less than median = 0 

**Test output**: 

1. 1915.5
2. 
```
0        0
6        0
22       0
44       0
59       0
        ..
14989    0
14990    0
14991    0
14992    0
14993    0
Name: daily_vaccinations_per_million, Length: 9011, dtype: int64
```

In [18]:
#median of daily_vaccinations_per_million
medianV=covid['daily_vaccinations_per_million'].median()
print(medianV)

#normalise daily_vaccinations_per_million
def normalise_d_v_m(df):
  if df['daily_vaccinations_per_million']< medianV:
    return 0
  else:
    return 1


covid['daily_vaccinations_per_million']=covid.apply(normalise_d_v_m,axis=1)
covid['daily_vaccinations_per_million']

1475.0

0        1
1        0
2        0
3        0
4        0
        ..
14989    0
14990    0
14991    0
14992    0
14993    0
Name: daily_vaccinations_per_million, Length: 14994, dtype: int64

### Challenge 3 - Normalising total vaccinations   
---
The United Kingdom has been praised for its fast vaccine rollout. 
1. Find the minimum total vaccinations for the United Kingdom 
2. Save this value in a variable rounded down to an integer
3. Write a function to normalise total_vaccinations column so that all values less than the UK's min are 0 and all values greater than or equal to the UK's min are coded as 1 
4. Display the countries for which total vaccinated is at the same rate or more than the UK

**Test output**:

1. 1402432.0
2. 1402432
3. `df['total_vaccinations']` should output:
```
0        0
6        0
22       0
44       0
59       0
        ..
14989    0
14990    0
14991    0
14992    0
14993    0
Name: total_vaccinations, Length: 9011, dtype: int64
```
4. 
```
array(['Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh',
       'Belgium', 'Brazil', 'Cambodia', 'Canada', 'Chile', 'China',
       'Colombia', 'Czechia', 'Denmark', 'Dominican Republic', 'England',
       'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary',
       'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Malaysia', 'Mexico', 'Morocco', 'Nepal',
       'Netherlands', 'Norway', 'Pakistan', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Singapore', 'Slovakia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'Thailand', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Wales'], dtype=object)
```

In [29]:
#min total vaccinations for uk
import pandas as pd
url="https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true"
covid=pd.read_excel(url,sheet_name="by_country")
covid.head()
covid1=covid[['total_vaccinations','country']].groupby('country').min()
min=covid1.loc["United Kingdom"]['total_vaccinations']

min=int(min) #round value for min total uk vaccinations
min

#function to normalise total_vaccinations column
def normalise_vaccinations(df):
  if df['total_vaccinations']<min:
    return 0
  else:
    return 1

covid.dropna(subset=['total_vaccinations'])
covid['total_vaccinations']=covid.apply(normalise_vaccinations,axis=1)
covid['total_vaccinations']

0        0
1        1
2        1
3        1
4        1
        ..
14989    0
14990    0
14991    0
14992    0
14993    0
Name: total_vaccinations, Length: 14994, dtype: int64

**

In [33]:
#Display the countries for which total vaccinated is at the same rate or more than the UK
import pandas as pd
url="https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true"
covid=pd.read_excel(url,sheet_name="by_country")
covid1=covid[['total_vaccinations','country']].groupby('country').sum()
total=covid1.loc["United Kingdom"]['total_vaccinations']
print(total)

country=[]
for i in covid1.index:
  if covid1.loc[i]['total_vaccinations']>=total and i !='United Kingdom':
    country.append(i)

country

2748464937.0

['China', 'India', 'United States']

### Challenge 4 - create new series of total vaccinations for each manufacturer
---

To create a new column in your dataframe:

`df['new_column'] = ...`

For example:

* to duplicate an existing column
  * `df['new_column'] = df['old_column']`
* to add two columns together 
  * `df['new_column'] = df['column1'] + df['column2']`
* to make a percentages column 
  * `df['new_column'] = (df['column1']/df['column1].sum()) * 100`

  
1. read data from 'by_manufacturer' sheet from Covid data 
2. find the sum of total vaccinations for each manufacturer
3. create a new column that has the total vaccinations as a percentage of the overall sum of total vaccinations 
4. find the median percentage 
5. create a new column called 'normalised_percentages' which duplicates the percentages column
6. normalise the normalised_percentages column so that any values greater than or equal to the median percentage = 1 and any lesser than = 0 


**Test output**:

1.
2. 
```
vaccine
Johnson&Johnson        264839828
Moderna               5548036383
Oxford/AstraZeneca     539433203
Pfizer/BioNTech       8690461304
Sinovac                604660293
Name: total_vaccinations, dtype: int64
```
3. 
```
	location	date	vaccine	total_vaccinations	percentages
0	Chile	2020-12-24	Pfizer/BioNTech	420	0.000003
1	Chile	2020-12-25	Pfizer/BioNTech	5198	0.000033
2	Chile	2020-12-26	Pfizer/BioNTech	8338	0.000053
3	Chile	2020-12-27	Pfizer/BioNTech	8649	0.000055
4	Chile	2020-12-28	Pfizer/BioNTech	8649	0.000055
...	...	...	...	...	...
3291	United States	2021-05-01	Moderna	105947940	0.677095
3292	United States	2021-05-01	Pfizer/BioNTech	129013657	0.824504
3293	United States	2021-05-02	Johnson&Johnson	8374395	0.053519
3294	United States	2021-05-02	Moderna	106780082	0.682413
3295	United States	2021-05-02	Pfizer/BioNTech	130252779	0.832423
3296 rows Ã— 5 columns
```
4. 0.0011110194374896931
5. 
6. 
```
	location	date	vaccine	total_vaccinations	percentages	normalise	normalised
0	Chile	2020-12-24	Pfizer/BioNTech	420	0.000003	0.000003	0
1	Chile	2020-12-25	Pfizer/BioNTech	5198	0.000033	0.000033	0
2	Chile	2020-12-26	Pfizer/BioNTech	8338	0.000053	0.000053	0
3	Chile	2020-12-27	Pfizer/BioNTech	8649	0.000055	0.000055	0
4	Chile	2020-12-28	Pfizer/BioNTech	8649	0.000055	0.000055	0
...	...	...	...	...	...	...	...
3291	United States	2021-05-01	Moderna	105947940	0.677095	0.677095	1
3292	United States	2021-05-01	Pfizer/BioNTech	129013657	0.824504	0.824504	1
3293	United States	2021-05-02	Johnson&Johnson	8374395	0.053519	0.053519	1
3294	United States	2021-05-02	Moderna	106780082	0.682413	0.682413	1
3295	United States	2021-05-02	Pfizer/BioNTech	130252779	0.832423	0.832423	1
3296 rows Ã— 7 columns
```

In [22]:
#read manufacturer data
import pandas as pd
url="https://github.com/lilaceri/Working-with-data-/blob/342abab10d93c4bf23b5c55a50f189f12a137c5f/Data%20Sets%20for%20code%20divisio/Covid%20Vaccination%20Data.xlsx?raw=true"
covidM=pd.read_excel(url,sheet_name="by_manufacturer")
covidM.head()

  location       date          vaccine  total_vaccinations
0    Chile 2020-12-24  Pfizer/BioNTech                 420
1    Chile 2020-12-25  Pfizer/BioNTech                5198
2    Chile 2020-12-26  Pfizer/BioNTech                8338
3    Chile 2020-12-27  Pfizer/BioNTech                8649
4    Chile 2020-12-28  Pfizer/BioNTech                8649

In [23]:
#2 find the sum of total vaccinations for each manufacturer
covidM[['total_vaccinations','vaccine']].groupby('vaccine').sum()

                    total_vaccinations
vaccine
Johnson&Johnson              264839828
Moderna                     5548036383
Oxford/AstraZeneca           539433203
Pfizer/BioNTech             8690461304
Sinovac                      604660293

In [24]:
#3 create a new column that has the total vaccinations as a percentage of the overall sum of total vaccinations
covidM['total_vaccinations_percentage']=(covidM['total_vaccinations']/covidM['total_vaccinations'].sum()) * 100
covidM.head(10)

  location       date  ... total_vaccinations  total_vaccinations_percentage
0    Chile 2020-12-24  ...                420                       0.000003
1    Chile 2020-12-25  ...               5198                       0.000033
2    Chile 2020-12-26  ...               8338                       0.000053
3    Chile 2020-12-27  ...               8649                       0.000055
4    Chile 2020-12-28  ...               8649                       0.000055
5    Chile 2020-12-29  ...               8649                       0.000055
6    Chile 2020-12-30  ...               8649                       0.000055
7    Chile 2020-12-31  ...               8649                       0.000055
8    Chile 2021-01-01  ...               8649                       0.000055
9    Chile 2021-01-02  ...               8649                       0.000055

[10 rows x 5 columns]

In [25]:
#4 find the median percentage
median_percentage=covidM['total_vaccinations_percentage'].median()
median_percentage

0.0011110194374896931

In [26]:
#5 create a new column called 'normalised_percentages' which duplicates the percentages column
covidM['normalised_percentage']=covidM['total_vaccinations_percentage']
covidM.head(10)

  location       date  ... total_vaccinations_percentage  normalised_percentage
0    Chile 2020-12-24  ...                      0.000003               0.000003
1    Chile 2020-12-25  ...                      0.000033               0.000033
2    Chile 2020-12-26  ...                      0.000053               0.000053
3    Chile 2020-12-27  ...                      0.000055               0.000055
4    Chile 2020-12-28  ...                      0.000055               0.000055
5    Chile 2020-12-29  ...                      0.000055               0.000055
6    Chile 2020-12-30  ...                      0.000055               0.000055
7    Chile 2020-12-31  ...                      0.000055               0.000055
8    Chile 2021-01-01  ...                      0.000055               0.000055
9    Chile 2021-01-02  ...                      0.000055               0.000055

[10 rows x 6 columns]

In [35]:
#6 normalise the normalised_percentages column so that any values greater than or equal to the median percentage = 1 and any lesser than = 0
def normalise_percentage(df):
  if df['total_vaccinations_percentage']>=median_percentage:
    return 1
  else:
    return 0


covidM['normalised_percentage']=covidM.apply(normalise_percentage,axis=1)
covidM

           location  ... normalised_percentage
0             Chile  ...                     0
1             Chile  ...                     0
2             Chile  ...                     0
3             Chile  ...                     0
4             Chile  ...                     0
...             ...  ...                   ...
3291  United States  ...                     1
3292  United States  ...                     1
3293  United States  ...                     1
3294  United States  ...                     1
3295  United States  ...                     1

[3296 rows x 6 columns]