<a href="https://colab.research.google.com/github/Bageshri123/Data-Science---Python/blob/main/How_happy_is_the_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How happy is the world?

![HappinessImage-Benjamin Scott](https://drive.google.com/uc?id=1wWdXTclLAjPpZUiKkR8XGg0Sl7iD1u8T)  

(Image by Benjamin Scott, [source](https://www.natureindex.com/news-blog/data-visualization-these-are-the-happiest-countries-world-happiness-report-twenty-nineteen))   

The Sustainable Development Solutions Network (SDSN) collects data across the world relating to happiness.  They use this data to rank countries in order of happiness factor.

This is not an exact science but can give food for thought in terms of what factors might have the most impact on a nation's happiness levels.

Data is taken from the Gallup World Poll, so not collected directly by SDSN.  
Countries are grouped by region.  

### The factors included are:
Economy (measured in GDP per Capita)	
Family (support systems) 	
Health (measured by Life Expectancy)	
Freedom (sense of)  	 
Trust (Government Corruption)	
Generosity (charitable inclinations)  	
Dystopia Residual 
*  Dystopic is the theoretical most unhappy country with the lowest levels in all six of the above factors  
*  The Residual measure is a calculated as the average of the six distances from lowest

Let's take a look at the data

---
### Open a data set

Open the data set, an Excel file with only one sheet (so sheet_name is not necessary) from here: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Interrogate the data (head, tail, iloc) to get to know what it contains.

In [2]:
import pandas as pd
url="https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"
happiness=pd.read_excel(url)
happiness.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [3]:
happiness.tail()

     Country                           Region  ...  Generosity  Dystopia Residual
153   Rwanda               Sub-Saharan Africa  ...     0.22628            0.67042
154    Benin               Sub-Saharan Africa  ...     0.18260            1.63328
155    Syria  Middle East and Northern Africa  ...     0.47179            0.32858
156  Burundi               Sub-Saharan Africa  ...     0.19727            1.83302
157     Togo               Sub-Saharan Africa  ...     0.16681            1.56726

[5 rows x 12 columns]

---
### Sort the data in different ways

The data is currently sorted in order of rank.  To sort the data in the table, run the code below, which identifies the column on which to sort in the brackets.

Then, **try sorting on other columns** *Note: you must type the column heading in the quotes and exactly as it appears in the table (including capitalisation)*.  To sort on multiple columns, enter a list of column headings in the brackets (e.g. `.sort_values(['Region','Freedom'])`

In [4]:
sorted_table = happiness.sort_values(['Family'])
sorted_table  # output the table below

                      Country  ... Dystopia Residual
147  Central African Republic  ...           2.72230
157                      Togo  ...           1.56726
152               Afghanistan  ...           1.95210
154                     Benin  ...           1.63328
116                     India  ...           2.27513
..                        ...  ...               ...
43                 Uzbekistan  ...           2.23741
0                 Switzerland  ...           2.51738
2                     Denmark  ...           2.49204
17                    Ireland  ...           1.97570
1                     Iceland  ...           2.70201

[158 rows x 12 columns]

In [5]:
sorted_table=happiness.sort_values(['Region','Freedom'])
sorted_table

                    Country  ... Dystopia Residual
8               New Zealand  ...           2.26425
9                 Australia  ...           2.26646
95   Bosnia and Herzegovina  ...           2.06367
82               Montenegro  ...           2.10017
126                 Armenia  ...           1.75873
..                      ...  ...               ...
5                   Finland  ...           2.61955
2                   Denmark  ...           2.49204
7                    Sweden  ...           2.37119
0               Switzerland  ...           2.51738
3                    Norway  ...           2.46531

[158 rows x 12 columns]

In [12]:
#sorting in order of government corruption with highest corruption level on top
sorted_table=happiness.sort_values(['Trust (Government Corruption)'],ascending=False)
sorted_table

       Country                           Region  ...  Generosity  Dystopia Residual
153     Rwanda               Sub-Saharan Africa  ...     0.22628            0.67042
27       Qatar  Middle East and Northern Africa  ...     0.32573            1.55674
23   Singapore                Southeastern Asia  ...     0.31105            1.88501
2      Denmark                   Western Europe  ...     0.34139            2.49204
7       Sweden                   Western Europe  ...     0.36262            2.37119

[5 rows x 12 columns]

---
### Summarising the data

Look at the happiness dataframe.  Create new dataframes from a range of rows, columns, statistical information, etc.

For each dataframe, add a text cell to explain what it is showing

**Display relation between happiness rank and life expectancy for top 10 happy countries**

In [8]:
health=happiness.head(10)[['Country','Happiness Rank','Health (Life Expectancy)']]
health

       Country  Happiness Rank  Health (Life Expectancy)
0  Switzerland               1                   0.94143
1      Iceland               2                   0.94784
2      Denmark               3                   0.87464
3       Norway               4                   0.88521
4       Canada               5                   0.90563
5      Finland               6                   0.88911
6  Netherlands               7                   0.89284
7       Sweden               8                   0.91087
8  New Zealand               9                   0.90837
9    Australia              10                   0.93156

**Display average for GDP,Health and Happiness score**

In [14]:
happiness_stats=happiness[['Economy (GDP per Capita)','Health (Life Expectancy)','Happiness Score']].mean()
happiness_stats

Economy (GDP per Capita)    0.846137
Health (Life Expectancy)    0.630259
Happiness Score             5.375734
dtype: float64

**Display relation between family support and happiness score for bottom 10 happy countries**

In [15]:
family_support=happiness.tail(10)[['Country','Happiness Score','Family']]
family_support

          Country  Happiness Score   Family
148          Chad            3.667  0.76062
149        Guinea            3.656  0.46475
150   Ivory Coast            3.655  0.77115
151  Burkina Faso            3.587  0.85188
152   Afghanistan            3.575  0.30285
153        Rwanda            3.465  0.77370
154         Benin            3.340  0.35386
155         Syria            3.006  0.47489
156       Burundi            2.905  0.41587
157          Togo            2.839  0.13995

---
### Next steps

There are data sets for the years 2015 to 2019 available.  To access and try out other years, change 2015 to the required year in the URL in the first code cell.  Leave the rest exactly as it is.  

Other years may have different column headings and so there will be different data to play with.

In [16]:
import pandas as pd
url="https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2019.xlsx?raw=true"
happiness=pd.read_excel(url)
happiness.head(10)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]

**Sort in order to freedom to make life choices with countries with more freedom first**

In [20]:
sorted_table=happiness.sort_values(['Freedom to make life choices'],ascending=False)
sorted_table

     Overall rank     Country or region  ...  Generosity  Perceptions of corruption
40             41            Uzbekistan  ...       0.322                      0.240
108           109              Cambodia  ...       0.232                      0.062
2               3                Norway  ...       0.271                      0.341
20             21  United Arab Emirates  ...       0.262                      0.182
0               1               Finland  ...       0.153                      0.393
..            ...                   ...  ...         ...                        ...
121           122            Mauritania  ...       0.106                      0.088
146           147                 Haiti  ...       0.419                      0.110
148           149                 Syria  ...       0.331                      0.141
155           156           South Sudan  ...       0.202                      0.091
153           154           Afghanistan  ...       0.158                      0.025

[156 rows x 9 columns]

**Display the relation between happiness score and social support sorted in order of happiness score**

In [22]:
sorted_table=happiness.sort_values(['Score'],ascending=False)
social_support=sorted_table[['Country or region','Score','Social support']]
social_support

            Country or region  Score  Social support
0                     Finland  7.769           1.587
1                     Denmark  7.600           1.573
2                      Norway  7.554           1.582
3                     Iceland  7.494           1.624
4                 Netherlands  7.488           1.522
..                        ...    ...             ...
151                    Rwanda  3.334           0.711
152                  Tanzania  3.231           0.885
153               Afghanistan  3.203           0.517
154  Central African Republic  3.083           0.000
155               South Sudan  2.853           0.575

[156 rows x 3 columns]